* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 6px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.page-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}

/* ----- NAVIGAGION ------ */

/* HAMBURGER MENU */

#hamburger-menu {
    cursor: pointer;
}

#hamburger-menu span {
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 5px;
    background: black;
    transition: 0.3s ease-in-out;
    transform: none;
}

.nav-open #hamburger-menu span:nth-of-type(1) {
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}

.nav-open #hamburger-menu span:nth-of-type(2) {
    transform: translate(0px, 7.5px) rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}

.nav-open #hamburger-menu span:nth-of-type(3) {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

/* USE */

.text {
    max-width: 127px;
    font-size: 13.5px;
}

/* ----- OPTIONS ------ */

.hamburger-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    position: fixed;
    right: 0;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.nav-open nav {
    transform: translateX(0);
}

/* OPTION-BUTTONS */

.duration {
    display: flex;
    justify-content: space-between;
}

.duration button {
    outline: solid 1px #000;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.duration button:active {
    background-color: black;
    color: white;
}

/* ----- TIMER ------ */

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CircularProgressbar {
    max-width: 250px;
    max-height: 250px;
}

/* TIMER BUTTON */

.timer-button {
    margin-top: 25px;
    width: 100px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    line-height: 35px;
    outline: solid 2px #000;
    border: none;
    background-color: transparent;
}

/* ----- MEDIA QUERIES ------ */

@media screen and (max-width: 767px) {
    .visible-small {
        align-items: center;
        background-color: white;
        width: 100%;
        padding-bottom: 100px;
    }
}
