* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 6px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----- NAVIGAGION ------ */

/* HAMBURGER MENU */

#hamburger-menu {
    cursor: pointer;
}

#hamburger-menu span {
    display: block;
    width: 50px;
    height: 3px;
    margin-bottom: 5px;
    background: black;
}

.hamburger-options {
    display: flex;
    justify-content: space-around;
    /*     transition: 0.5s ease-in-out;
 */
    /*height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    z-index: 1; */
}

/* ----- TIMER ------ */

.timer {
    width: 250px;
    height: 250px;
}

/* TIMER BUTTON */

.timer-button {
    margin-top: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    width: 100%;
    /*     outline: solid 2px #000;
 */
    border: none;
    background-color: transparent;
}
